{% extends 'base.html' %}

{% block content %}
<div class = "col-md-8">

	<h1> Actividad Reciente </h1>
		<p> Dejó un Libro en Tal Sitio </p>
		<p> Recibió Tal Libro de Tal Usuario </p>
		<p> Tomó Tal Libro de Tal Sitio </p>
		<p> Añadió Tal Libro a su Biblioteca Compartida </p>
	</div>
	<div class = "col-md-4">

	<h4> Foto, informacion </h4>

	<h2> Actualmente Leyendo </h2>
	<p> Ultimos Libros leídos </p>

	<h2> Biblioteca Compartida </h2>
	<p> lista de libros prestables o prestados </p>
	<a href=""> Editar Biblioteca</a>

</div>
{% endblock content %}