{% extends 'base.html' %}

{% block content %}

<div class = "col-md-6 col-md-offset-1">
	<h2>Edita la información de {{biblioteca_compartida.nombre}}</h2>
	<form class="form-horizontal" action="{% url 'libros:editar_biblioteca_compartida' biblioteca_compartida.slug %}" method="post">
		{% csrf_token %}		
			<fieldset>
				{{form}}
			<br>
			<input class = "btn btn-success pull-right" type="submit" value="Submit">
	</form>
</div>
<script type="text/javascript">	
</script>

{% endblock content %}
