{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- PAGE TOP -->
<!-- parallax -->
<div class="parallax parallax-1" style="background-image:url({% static 'assets/images/letrasclub/quito2.jpg' %});">
	<span class="parallax-overlay"></span>
	<div class="container parallax-content">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1">
				<h3> Libros disponibles en <strong>{{ciudad.name}}</strong></h3>
			</div>
		</div>
	</div>
</div>
<!-- /parallax -->
<!-- /PAGE TOP -->


<div class = "col-md-8">
	<!--
	<a href="{% url 'libros:buscar_ciudad' %}" class="pull-right">Buscar libros en otra ciudad <i class="fa fa-external-link-square"></i></a>
	-->


	<hr class =" half-margins invisible">

	{% if filtro == "autor" %}
	
	<div class="widget">
		<form id="newsletterSubscribe" method="post" action="php/newsletter.php" class="input-group">
			<input type="text" class="form-control" name="s" value="" placeholder="Buscar Autor" />
			<span class="input-group-btn">
				<button class="btn btn-primary"><i class="fa fa-search"></i></button>
			</span>
		</form>
	</div>
	<br>
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Autor <i class ="fa fa-pencil"></i></button>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="{% url 'libros:libros_ciudad' 'quito' '18' 'titulo' %}">Ordenar por Título <i class="fa fa-book"></i> </a></li>
	  </ul>
	</div><!-- /btn-group -->

	{% else %}
	
	<div class="widget">
		<form id="newsletterSubscribe" method="post" action="php/newsletter.php" class="input-group">
			<input type="text" class="form-control" name="s" value="" placeholder="Buscar Título" />
			<span class="input-group-btn">
				<button class="btn btn-primary"><i class="fa fa-search"></i></button>
			</span>
		</form>
	</div>
	<br>
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar por Título <i class ="fa fa-book"></i></button>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="{% url 'libros:libros_ciudad' 'quito' '18' 'autor' %}">Ordenar por Autor <i class="fa fa-pencil"></i> </a></li>
	  </ul>
	</div><!-- /btn-group -->
	
	{% endif %}

	<div class="divider"><!-- divider -->
		<i class="fa fa-chevron-down"></i>
	</div>

	<br>
	{% for l in libros_disponibles %}	
		<div class="alert callout alert-default">
			<div class="row">
				<div class="col-md-9 col-sm-9"><!-- left text -->
					<h4><strong>{{l.libro.titulo}}</strong> {{l.libro.autor}} </h4>
					<a href="{% url 'perfiles:perfil_usuario' l.perfil.usuario.username %}">
						<i class = "fa fa-user"></i>{{l.perfil.usuario.username}}
					</a>
				</div><!-- /left text -->
				
				{% if l.perfil != perfil_usuario %}
				<div class="col-md-3 col-sm-3 text-right"><!-- right btn -->
					<a href="{% url 'libros:pedir_libro' l.id %}" rel="nofollow" target="_blank" class="btn btn-default btn-lg">Pedir Libro</a>
				</div><!-- /right btn -->
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>

<div class = "col-md-4">
	<hr class="half-margins invisible" /><!-- divider 30px -->
	<!-- facebook -->
	<div class="fb-page" data-href="https://www.facebook.com/letras.club" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
	
	<hr class="half-margins invisible" /><!-- divider 30px -->

	<h4> Bibliotecas Compartidas</h4>

<!-- JUSTIFIED TAB -->
	<div class="tabs nomargin">

		<!-- tabs content -->
		<div class="tab-content">

			<!-- POPULAR -->
			<div id="tab_1" class="tab-pane active">

				{% for biblioteca in bibliotecas_compartidas %}
				<div class="row tab-post"><!-- post -->
					<div class="col-md-3 col-sm-3 col-xs-3">
						<a href="{% url 'libros:biblioteca_compartida' biblioteca.slug %}">
							<img src="{{biblioteca.imagen}}" width="50" alt="" />
						</a>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<a href="{% url 'libros:biblioteca_compartida' biblioteca.slug %}" class="tab-post-link">{{biblioteca.nombre}}</a>
						<small>{{biblioteca.direccion}}</small>
					</div>
				</div><!-- /post -->
				{% endfor %}
			</div>
			<!-- /POPULAR -->
		</div>
	</div>
	<!-- JUSTIFIED TAB -->
	<a href="{% url 'libros:nueva_biblioteca_compartida' ciudad.slug ciudad.id %}" class="pull-right"> <small>Registrar una Biblioteca Compartida en {{ciudad.name}}</small></a>
</div>
{% endblock content %}
