{% extends 'base.html' %}

{% block content %}

<div class = "col-md-8">
	<h2> En tu biblioteca </h2>
	{% for l in libros_disponibles %}
	<div class = "panel panel-primary">
		<div class = "panel-body">
			<p>{{l.libro.titulo}}</p>
			<button class = "btn btn-warning marcar_no_disponible" data-id="{{l.id}}"> Marcar como no disponible </button>
		</div>
	</div>
	{% endfor %}

	<h3> No Disponibles </h3>
	{% for l in libros_no_disponibles %}
	<div class = "panel panel-primary">
		<div class = "panel-body">
			<p>{{l.libro.titulo}}</p>
			<button class = "btn btn-success marcar_disponible" data-id="{{l.id}}"> Marcar como Disponible </button>
		</div>
	</div>
	{% endfor %}

	<hr>

	<h2> Libros prestados </h2>
	{% for l in libros_prestados %}
	<div class = "panel panel-primary">
		<div class = "panel-body">
			<p>{{l.libro.titulo}}</p>
			<button class = "btn btn-success marcar_devuelto" data-id="{{l.id}}">Marcar como Devuelto</button>
		</div>
	</div>
	{% endfor %}
</div>

<script>
	$(document).ready(function(){
		$(".marcar_no_disponible").on("click", function(){			
			var libro_disp_id = $(this).data("id");
			$.ajax({
				method: "POST",
				url: "/libros/marcar_no_disponible/",
				data: {'id_libro_disp': libro_disp_id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': 'perfil'}
			});
		});
		$(".marcar_disponible").on("click", function(){
			var id_libro = $(this).data("id");
			$.ajax({
				method: "POST",
				url: "/libros/marcar_disponible/",
				data: {'id_libro': id_libro, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': 'perfil'}
			});
		});
		$(".marcar_devuelto").on("click", function(){
			var id_libro = $(this).data("id");
			$.ajax({
				method: "POST",
				url: "/libros/marcar_devuelto/",
				data: {'id_libro': id_libro, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'tipo': 'perfil'}
			});
		});
	});
</script>

{% endblock content %}
