{% extends 'base.html' %}

{% block content %}
<br>
<div class = "col-md-6 col-md-offset-1">
	<h2> Pedir prestado '{{libro_disponible.libro.titulo}}'' de {{libro_disponible.libro.autor}} al usuario 
	<a target="_blank" href="{% url 'perfiles:perfil_usuario' libro_disponible.perfil.usuario.username %}">{{libro_disponible.perfil.usuario.username}}</a></h2>
	<form class="form-horizontal" action="{% url 'libros:pedir_libro' libro_disponible.id %}" method="post">
		{% csrf_token %}		
			<fieldset>
				{{form_pedir_libro}}
			</fieldset>
			<br>
			<h4><small>* Es importante enviar tus datos de contacto</small></h4>
			<input class = "btn btn-success pull-right" type="submit" value="Enviar">
	</form>
	<hr class = "invisible">
</div>	
{% endblock content %}