{% extends 'base.html' %}

{% block content %}

<div class = "col-md-8">
	<h2> Pedir prestado {{libro_disponible.libro.titulo}} de {{libro_disponible.libro.autor}} a {{libro_disponible.perfil.usuario}}</h2>

	<div class = "col-md-6 col-md-offset-1">
		<form class="form-horizontal" action="{% url 'libros:pedir_libro' libro_disponible.id %}" method="post">
			{% csrf_token %}		
				<fieldset>					
					{{form_pedir_libro}}
				</fieldset>
				<br>
				<input class = "btn btn-success pull-right" type="submit" value="Submit">
		</form>
	</div>	
</div>

{% endblock content %}