<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> <!--bootstrap cambiado por bootstrap themes - Readable -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'libros:main' %} ">Red de Libros</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	      <ul class="nav navbar-nav">
	      	{% if user.is_authenticated %}
	      		{% if tiene_ciudad %}
		        <li><a href="{% url 'libros:libros_ciudad' perfil_ciudad.slug perfil_ciudad.id %}">Libros disponibles en {{perfil_ciudad.name}}</a></li>
		        {% else %}
		        <li><a href="">Busca un libro disponible en tu ciudad</a></li>
		        {% endif %}		        
		        <li><a href="{% url 'libros:nuevo_libro' 'perfil' user.username %}">Compartir un Libro</a></li>
	        {% endif %}
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	{% if user.is_authenticated %}
	      	<li><a href="{% url 'perfiles:perfil_propio' %}">{{user.username}}</a></li>
	      	<li><a href="{% url 'libros:mi_biblioteca' %}">Biblioteca</a></li>
	      	<li><a href="{% url 'perfiles:logout' %}">Logout</a></li>
	      	<li><a href="{% url 'perfiles:editar_perfil' %}">Editar Perfil</a></li>
	      	{% else %}
	        <li><a href="{% url 'perfiles:login' %}">Login</a></li>
	        <li><a href="{% url 'perfiles:registro' %}">Registro</a></li>
	        {% endif %}
	      </ul>
	    </div>
	  </div>
	</nav>

	{% block content %}

	{% endblock content %}
</body>
</html>
